h4 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    border-bottom: 2px dotted rgba(25, 78, 132, 0.5);
    padding-bottom: 10px;
}

.delete {
    color:red;
    cursor: pointer;
}
.product-img {
    float: left;
    max-width: 100px;
    height: auto;
    margin: 0;
}

.count, .x {
    display: inline-block;
    width: 50px;
}

.x {
    text-align: center;
}

.btn-group {
    float: left;
}