<div id="bar">
    <ul class="list-inline">
        <li class="col-sm-4"><div class="progress visited"></div><div class="progress-word"><a routerLink="./info" (click)="visit(0)">Information</a></div></li>
        <li class="col-sm-4"><div class="progress"></div><div class="progress-word"><a routerLink="./shipping" (click)="visit(1)">Shipping</a></div></li>
        <li class="col-sm-4"><div class="progress"></div><div class="progress-word"><a routerLink="./review" (click)="visit(2)">Review</a></div></li>
    </ul>
</div>