
ul{
    background: lightblue;
    overflow:hidden;
    position: relative;
    margin-left: 1px;
}

li {
    display: block;
    text-align: center;
    font-size: 1.2em;
    border-radius: 0;
    margin:0;
}

.progress {
    z-index: 1;
    width: 0;
    height: 100%;
    position: absolute;
    background-color: lightgreen;
    left: 0px;
    top: 0px;
    -webkit-transition: width 0.3s linear; /* Safari */
    transition: width 0.3s linear;
    border-radius: 0;
    margin:0;
}

.progress-word {
    z-index: 100;
    position: relative;
    border-radius: 0;
    margin:0;
    color: darkslateblue;
    font-weight:700;
}

.visited {
    width: 100%;
}