<p>Select a shipping method: </p>
<form class="row">
    <div class="radio col-sm-12">
      <label><input type="radio" name="optradio" value=0 checked>Ground shipping, 5-8 business days. Free</label>
    </div>
    <div class="radio col-sm-12">
      <label><input type="radio" value=1 name="optradio">Two day shipping, 2-3 business days. $5.99</label>
    </div>
    <div class="radio col-sm-12">
      <label><input type="radio" value=2 name="optradio">Overnight shipping. $12.99</label>
    </div>
    <div class="col-sm-12">
        <button type="button">Next</button>
    </div>
</form>