h1 {
    background-color: rgba(10, 22, 65, 0.75);
    color: rgba(238, 232, 225, 1);
}

#progress {
    background-color: rgba(25, 78, 132, 0.5);
}

#cart {
    background-color: rgba(204, 165, 84, 0.75);
    min-height: 400px;
}

#info {
    background-color: rgba(238, 232, 225, 1);
    min-height: 400px;
}